.results-list{
    width: 325px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    max-height: 200px;
    overflow-y: scroll;
    margin-left: 0;
}

#custom-scrollbar {
    
    height: 300px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #838383 #e6e6e6; 
  
    
    &::-webkit-scrollbar {
      width: 10px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ebe9e5; 
      border-radius: 4px; 
    }
    &::-webkit-scrollbar-track {
      background-color: #424242; 
    }
}